:root {
  --primary-color: #004467;
  --secondary-color: #ED9500;
  --secondary-color: #FBB017;
  --light-color: #FADE9D;
  --text-color: #051B2C;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8rem;
  width: 100%;
}

p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#nav i,
#nav a {
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
  padding: 5px 0;
}


.navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px 10px;
  font-size: 1.1rem;
}

#nav a:hover,
#nav a:hover i {
  color: var(--light-color);
}

#nav a:hover i {
  transform: scale(1.7);
  margin-bottom: 3px;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  /* background-color: var(--primary-color); */
  padding: 0 60px;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-width: 450px;
}

.hero {
  height: 100vh;
  /* background-color: var(--secondary-color);
  background-image: linear-gradient(var(--primary-color), var(--secondary-color)); */
  background: url('111.png') no-repeat top center/cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 20%;
}

.hero>div>h1 {
  font-size: 8rem;
  margin-bottom: 60px;
  color: var(--secondary-color);
  transform: translateY(-1000px);
  animation: go-back 0.2s ease-in-out 0.5s forwards;
}

.hero>div>p {
  color: #07131C;
  transform: translateX(-1500px);
  font-size: 1.2rem;
  animation: go-back 0.2s ease-in-out 1.0s forwards;
}

@keyframes go-back {
  to {
    transform: translateY(0);
    transform: translateX(0);
  }
}

section {
  height: 50vh;
}