body {
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.6rem;
}

p {
  margin: 0.3rem;
}

.container {
  margin: 20px;
  padding: 4px;
  max-width: 350px;
  min-height: 400px;
  border: 0.1rem solid #000;
}

.head-flex-box {
  display: flex;
  flex-direction: column;

}

hr {
  margin: 0;
  margin: 0;
}

.hr-1 {
  border-bottom: 10px #000 solid;
}

.hr-2 {
  border-bottom: 6px #000 solid;
}


.hr-3 {
  border-bottom: 2px #000 solid;
}

.hr-4-margin {
  border-bottom: 2px #000 solid;
  margin-left: 15px;
}

.hr-4-margin-gray {
  border-bottom: 3px #ccc solid;
  margin-left: 15px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.flex-box-margin {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.box-right-small {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.box-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-width: 105px;
}

.smal-bold {
  font-weight: bolder;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.footnotes {
  line-height: 1rem;
  font-size: 0.8rem;
}



/* footer */

.flex-box-four {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.box-left {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  min-width: 170px;
}

.box-right {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  min-width: 140px;
}

.flex-box-three {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}